<% include ../partials/header %>

<div class="container px-auto">
    <h1 style = "text-align: center">Add a new comment for <%= campgrounds.name %>!</h1>   
    <div class = "row mt-4">
        <div class = "col-4"></div>
        <div class = "col-4">
            <form action = "/campgrounds/<%= campgrounds._id %>/comments" method = "POST">
                <div class="form-group">
                    <input type="text" class="form-control" name = "comment[text]" placeholder="Your Comment">
                </div>                
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <a href = "/campgrounds/<%= campgrounds._id %>">Go Back</a>
        </div>
        <div class = "col-4"></div>
    </div>
</div>


<% include ../partials/footer %>

